<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8">
    <title>Telegramni bog‘lash</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="auth-page">

    <div class="auth-container">
        <h2 class="auth-title">Telegramni bog‘lash</h2>
        <p class="auth-subtitle">
            Quyidagi kodni botga yuboring yoki /start bilan kiriting.
        </p>

        <div class="auth-code-box">
            {{ code }}
        </div>

        <p class="auth-link">
            Bot: <a href="https://t.me/Mars_F2_1985_bot" target="_blank">@YOUR_BOT_USERNAME</a>
        </p>

        <p class="auth-link">
            <a href="{% url 'home' %}">Bosh sahifaga qaytish</a>
        </p>
    </div>

</body>

</html>