{% extends "base.html" %}
{% block title %}Kurslar{% endblock %}

{% block content %}

{% load static %}


<link rel="stylesheet" href="{% static 'css/list.css' %}">

<div class="container course-list-page">
    <div class="row">

        {% for c in courses %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="course-card">
                <img src="{{ c.image.url }}" alt="{{ c.title }}">

                <div class="card-body">
                    <h4 class="course-title">{{ c.title }}</h4>
                    <p class="course-desc">{{ c.description|truncatewords:20 }}</p>

                    <a href="{% url 'course_detail' c.id %}" class="course-button">Kursga o‘tish</a>
                </div>

            </div>
        </div>
        {% endfor %}

    </div>
</div>


{% endblock %}