<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8">
    <title>To‘lov muvaffaqiyatli</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="purchase-page">

    <div class="success-container">
        <h2 class="success-title">✅ To‘lov muvaffaqiyatli yuborildi!</h2>

        <p class="success-text">
            Admin to‘lovni tekshiradi. Tasdiqlangandan so‘ng kurs sizga ochiladi.
        </p>

        <a href="/" class="btn-buy mt-3">Bosh sahifaga qaytish</a>
    </div>

</body>

</html>