<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8">
    <title>Kirish</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="auth-page">

    <div class="auth-container">
        <h2 class="auth-title">Kirish</h2>
        <p class="auth-subtitle">Profilingizga kirish uchun ma’lumotlarni kiriting</p>

        {% if messages %}
        {% for message in messages %}
        <p style="color: #dc3545; font-size: 14px;">{{ message }}</p>
        {% endfor %}
        {% endif %}

        <form method="POST" class="auth-form">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Parol" required>
            <button type="submit" class="auth-btn">Kirish</button>
        </form>

        <p class="auth-link">
            Hisobingiz yo‘qmi? <a href="{% url 'register' %}">Ro‘yxatdan o‘tish</a>
        </p>
    </div>

</body>

</html>